.example {
	background-color: #EEEFF0;
	padding: 140px 0;
	background: url('../img/example/ex_slider_bgr.svg')  no-repeat;
	background-position: bottom 140px right 0px ;

	&__head {
		margin: 0 0 120px 0;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		margin: 0 0 64px 0;
	}
	&__row:last-child{
		margin: 0;
	}

	&__head-title {
		font-family: 'Akzidenz-Grotesk Pro';
		font-weight: 500;
		font-size: 48px;
		line-height: 130%;
		text-transform: uppercase;
		color: #051326;
	}
	&__head-title span{
		position: relative;
	}
	&__head-title span::after{
		content: '';
		position: absolute;
		width: 335px;
		height: 105px;
		background: url('../img/example/titleVector.svg') 0 0 no-repeat;
		left: -15px;
		top: -24px;
	}

	&__head-redtext {
		font-family: 'Akzidenz-Grotesk Pro';
		font-size: 18px;
		line-height: 140%;
		color: #FF1616;
	}

	&__ourext {
		font-family: 'Mulish';
		font-weight: 600;
		font-size: 24px;
		line-height: 120%;
		color: #051326;
		max-width: 697px;
	}

	&__downtext {
		font-family: 'Mulish';
		font-size: 17px;
		line-height: 140%;
		color: #8A8A99;
		max-width: 576px;
	}
	&__body {
		
	}

	&__body-columns {
		display: flex;
		justify-content: space-between;
		align-items: end;
	}


	&__body-column:last-child{
max-width: 234px;
	}


	&__body-row {
		display: flex;
		margin: 0 0 12px 0;
	}

	&__body-row-item {
		font-family: 'Mulish';
		font-style: normal;
		font-weight: 500;
		font-size: 17px;
		line-height: 130%;
		text-align: center;
		color: #FF1616;
		border: 1px solid #CACAD0;
		border-radius: 32px;
		padding: 16px 32px ;
		margin: 0 12px 0 0;
	}
	&__body-row-item:last-child{
		margin: 0;
	}
	&__body-row-item span{
	padding: 0 0 0 7px;
	}
	&__body-row-reditem{
		color: #F7F7F8;
		background: #FF1616;
		border: none;
	}

	
	

	&__body-slider {
		margin: 0 0 64px 0;
		
		
	}
	

	&__body-slider-wrapper {
		height: 521px;
		padding: 64px 0;
	}

	&__slide {
		
	}

	&__slide-item {
		max-width: 455px;
		background-color:#F7F7F8;
		border-radius: 32px;
		padding: 0 0 40px 0 ;
	}

	&__slide-item-image {
		margin: 0 0 12px 0;
	}
	&__slide-item-image img{
		max-width: 100%;
	}
	&__slide-item-body{
		padding:0 0 0 20px ;
	}

	&__slide-item-title {
		margin: 0 0 8px 0;
		color: #051326;
		font-family: 'Mulish';
		font-weight: 600;
		font-size: 24px;
		line-height: 120%;
		
	}

	&__slide-item-subtitle {
		margin: 0 0 32px 0;
		color: #8A8A99;
		font-family: 'Mulish';
		font-size: 17px;
		line-height: 140%;
		
		
	}

	&__slide-item-button {
		font-family: 'Mulish';
		font-style: normal;
		font-weight: 500;
		font-size: 17px;
		line-height: 130%;
		color: #FF1616;
		border: 1px solid #FF1616;
		border-radius: 32px;
		padding: 16px 32px;
		width: 228px;
		position: relative;
	}
	&__slide-item-button a{
		color: #FF1616;
	}
	&__slide-item-button span{
		position: absolute;
		top: 22px;
		padding: 0 0 0 12px;
	}
	&__body-allbutton-body{
		display: flex;
		justify-content: end;
		padding-right: 50px;
	}
	&__body-allbutton{
		font-family: 'Mulish';
		font-weight: 500;
		font-size: 17px;
		line-height: 130%;
		color: #FF1616;
		position: relative;
		padding: 16px 32px;
		border: 1px solid #FF1616;
		border-radius: 32px;
		width: 273px;
		cursor: pointer;
	}
	&__body-allbutton span{
		position: absolute;
		top: 22px;
		padding: 0 0 0 12px;
	}

}