@font-face {
	font-family: 'Akzidenz-Grotesk Pro';
	src: url('../fonts/AkzidenzGroteskPro-Ext.woff2') format('woff2'),
		 url('../fonts/AkzidenzGroteskPro-Ext.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@import "_reset";

body.lock{
	overflow:hidden;
}

.wrapper {
	min-height: 100vh;
	overflow: hidden;
}

.container{
	max-width: 1424px;
	margin: 0px auto;
	min-width:0;
	padding: 0px 15px;
}
.swiper-scrollbar-drag{
	background-color: #FF1616;
}

@import "_header";
@import "_first";
@import "_label";
@import "_why";
@import "_inspection";
@import "_services";
@import "_how";
@import "_example";
@import "_just";
@import "_question";
@import "_review";
@import "_help";
@import "_footer";
@import "_sliderNavBtn";
@import "_sliderItemBtn";
@import "_burger";
@import "_popupStyles";



