@font-face {
	font-family: 'AGPro-REGULAR-Ext';
	src: url('../fonts/AkzidenzGroteskPro-Ext.woff2') format('woff2'),
		 url('../fonts/AkzidenzGroteskPro-Ext.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'AGPro-MED-Ext';
	src: url('../fonts/AkzidenzGroteskPro-MdEx.woff2') format('woff2'),
		 url('../fonts/AkzidenzGroteskPro-MdEx.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@import 'reset.scss';

.wrapper {
	min-height: 100vh;
	overflow: hidden;
}
.container{
	max-width: 1410px;
	margin: 0px auto;
}

.first {
	background-image: url(../img/first/bg1.svg);

		&__menu {
		}

		&__logo {
		}

		&__numbers {
		}

		&__number {
		}

		&__burger {
		}

		&__about {
		}
asdqwerewretretytrytuytutuiyuiyui
		&__title {
		}

		&__subtitle {
		}

		&__callform {
		}

		&__inputname {
		}

		&__inputphone {
		}

		&__callformbutton {
		}

		&__footer {
		}

		&__clockandlocation {
		}

		&__location {
		}

		&__clock {
		}

		&__social {
		}

		&__social-icon {
		}
}
